.main {
  padding-top: 220px;
}

.table {
  display: table;
  table-layout: fixed;
  text-align: center;
  padding-top: 16px;
  width: 100%;
  border-collapse: collapse;
}

.table-head {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;
}

.table-head,
.table-cell {
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 0.5rem;
  vertical-align: top;
  padding: 0.25rem 0.5rem;
}

.table-head:last-child,
.table-cell:last-child {
  border-right: none;
}

.table-cell {
  font-size: 0.85rem;
  line-height: 1.2;
}

.text-align-right {
  text-align: right;
}

.tex-align-left {
  text-align: left;
}

.tile {
  padding: 1rem;
  border: 1px solid #eaebee;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.tile-header {
  font-size: 1.25rem;
  color: #31353f;
  padding-bottom: 0.5rem;
}

.tile-description {
  font-size: 1rem;
  color: #555b6e;
  padding-bottom: 0.5rem;
}

.tile-content {
  margin: 0 -1rem;
}
