@import url('../../colors.css');

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-title-section {
  background-color: var(--bg-main);
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--text-primary);
}

.app-title {
  font-size: 2.25rem;
  padding: 1.25rem;
}
